In [2]:
import numpy as np
import pandas as pd

In [12]:
data = pd.read_csv("bars.csv")

In [13]:
data['total'] = pd.to_numeric(data['total'])
data['value'] = pd.to_numeric(data['value'])

In [14]:
data.head()

   Unnamed: 0  crime    subcrime  year  arrest  value  total
0           0  ARSON  AGGRAVATED  2008   False    160    194
1           1  ARSON  AGGRAVATED  2008    True     34    194
2           2  ARSON  AGGRAVATED  2009   False    136    160
3           3  ARSON  AGGRAVATED  2009    True     24    160
4           4  ARSON  AGGRAVATED  2010   False    122    155

In [15]:
data['difference'] = data['total'] - data['value']

In [ ]:
#data.loc[len(data)] = ['a','b','c','d','d','a','a']

In [ ]:
#tmp = data[data['no_arrest_num'] == 0]

In [18]:
data.drop(columns='Unnamed: 0')

In [19]:
data.head()

   crime    subcrime  year  arrest  value  total  difference
0  ARSON  AGGRAVATED  2008   False    160    194          34
1  ARSON  AGGRAVATED  2008    True     34    194         160
2  ARSON  AGGRAVATED  2009   False    136    160          24
3  ARSON  AGGRAVATED  2009    True     24    160         136
4  ARSON  AGGRAVATED  2010   False    122    155          33

In [20]:
count = 0
n = len(data)
for row in range(len(data)):
    if data['difference'][row] == 0:
        data.loc[n + count] = [data.iloc[row][0], data.iloc[row][1], data.iloc[row][2], 1 - data.iloc[row][3], 
                              0, data.iloc[row][5], data.iloc[row][6]]
        #print(data.iloc[n + count])
        count += 1

In [21]:
df = data

In [22]:
df['arrest'] = df['arrest'].map({0: False, 1: True})

In [23]:
df.head()

   crime    subcrime  year  arrest  value  total  difference
0  ARSON  AGGRAVATED  2008   False    160    194          34
1  ARSON  AGGRAVATED  2008    True     34    194         160
2  ARSON  AGGRAVATED  2009   False    136    160          24
3  ARSON  AGGRAVATED  2009    True     24    160         136
4  ARSON  AGGRAVATED  2010   False    122    155          33

In [24]:
dat = df.groupby(by=['crime','subcrime','year','arrest']).aggregate('sum')

In [25]:
dat.head()

                              value  total  difference
crime subcrime   year arrest
ARSON AGGRAVATED 2008 False     160    194          34
                      True       34    194         160
                 2009 False     136    160          24
                      True       24    160         136
                 2010 False     122    155          33

In [26]:
dat.reset_index(level=[0,1,2,3]).head()

   crime    subcrime  year  arrest  value  total  difference
0  ARSON  AGGRAVATED  2008   False    160    194          34
1  ARSON  AGGRAVATED  2008    True     34    194         160
2  ARSON  AGGRAVATED  2009   False    136    160          24
3  ARSON  AGGRAVATED  2009    True     24    160         136
4  ARSON  AGGRAVATED  2010   False    122    155          33

In [27]:
display(len(df[df['arrest'] == False]), len(df[df['arrest'] == True]))

3562

3562

In [28]:
crimes = df[df['arrest'] == True]

In [29]:
crimes = crimes[['crime','subcrime','year','value','total']].reset_index(drop=True)

In [30]:
crimes.head()

   crime    subcrime  year  value  total
0  ARSON  AGGRAVATED  2008     34    194
1  ARSON  AGGRAVATED  2009     24    160
2  ARSON  AGGRAVATED  2010     33    155
3  ARSON  AGGRAVATED  2011     14     74
4  ARSON  AGGRAVATED  2012     15     55

In [31]:
crimes['no_arrest'] = crimes['total'] - crimes['value']

In [32]:
crimes['arrest'] = crimes['value']

In [33]:
crimes = crimes.drop(columns='value')

In [34]:
crimes.head()

   crime    subcrime  year  total  no_arrest  arrest
0  ARSON  AGGRAVATED  2008    194        160      34
1  ARSON  AGGRAVATED  2009    160        136      24
2  ARSON  AGGRAVATED  2010    155        122      33
3  ARSON  AGGRAVATED  2011     74         60      14
4  ARSON  AGGRAVATED  2012     55         40      15

In [35]:
crimes.to_csv('subcrimes.csv', index=False)

### Mapbox data

In [3]:
thefts = pd.read_csv('topthefts2018.csv')

In [8]:
thefts = thefts.drop(columns='Unnamed: 0')

In [11]:
thefts.to_csv('topthefts2018.csv', index=False)

In [35]:
thefts['date'] = pd.to_datetime(thefts['date'])

In [41]:
thefts['month'] = thefts['date'].map(lambda x: x.month)
thefts['hour'] = thefts['date'].map(lambda x: x.hour)
thefts['day'] = thefts['date'].map(lambda x: x.day)
thefts['dayofweek'] = thefts['date'].map(lambda x: x.dayofweek)
thefts['weekofyear'] = thefts['date'].map(lambda x: x.weekofyear)
thefts['quarter'] = thefts['date'].map(lambda x: x.quarter)

In [40]:
thefts['date'][1].week

49

In [ ]:
L = ['year', 'month', 'day', 'dayofweek', 'dayofyear', 'weekofyear', 'quarter']

In [42]:
thefts.head()

,crime,arrest,date,latitude,longitude,domestic,district,FBI_code,year,month,hour,day,dayofweek,weekofyear,quarter
0,RETAIL THEFT,False,2018-12-07 17:30:00,41.930906,-87.644017,False,19.0,6,2018,12,17,7,4,49,4
1,OVER $500,False,2018-12-07 12:00:00,41.872742,-87.709326,False,11.0,6,2018,12,12,7,4,49,4
2,OVER $500,False,2018-12-07 12:00:00,41.803672,-87.703846,False,8.0,6,2018,12,12,7,4,49,4
3,OVER $500,False,2018-12-07 20:00:00,41.882389,-87.624375,False,1.0,6,2018,12,20,7,4,49,4
4,OVER $500,False,2018-12-07 20:30:00,41.838217,-87.633226,False,9.0,6,2018,12,20,7,4,49,4