In [7]:
import numpy as np
import pandas as pd

In [12]:
data = pd.read_csv("bars.csv")

In [13]:
data['total'] = pd.to_numeric(data['total'])
data['value'] = pd.to_numeric(data['value'])

In [14]:
data.head()

   Unnamed: 0  crime    subcrime  year  arrest  value  total
0           0  ARSON  AGGRAVATED  2008   False    160    194
1           1  ARSON  AGGRAVATED  2008    True     34    194
2           2  ARSON  AGGRAVATED  2009   False    136    160
3           3  ARSON  AGGRAVATED  2009    True     24    160
4           4  ARSON  AGGRAVATED  2010   False    122    155

In [15]:
data['difference'] = data['total'] - data['value']

In [ ]:
#data.loc[len(data)] = ['a','b','c','d','d','a','a']

In [ ]:
#tmp = data[data['no_arrest_num'] == 0]

In [18]:
data.drop(columns='Unnamed: 0')

In [19]:
data.head()

   crime    subcrime  year  arrest  value  total  difference
0  ARSON  AGGRAVATED  2008   False    160    194          34
1  ARSON  AGGRAVATED  2008    True     34    194         160
2  ARSON  AGGRAVATED  2009   False    136    160          24
3  ARSON  AGGRAVATED  2009    True     24    160         136
4  ARSON  AGGRAVATED  2010   False    122    155          33

In [17]:
count = 0
n = len(data)
for row in range(len(data)):
    if data['difference'][row] == 0:
        data.loc[n + count] = [data.iloc[row][0], data.iloc[row][1], data.iloc[row][2], 1 - data.iloc[row][3], 
                              0, data.iloc[row][5], data.iloc[row][6]]
        #print(data.iloc[n + count])
        count += 1

ValueError: cannot set a row with mismatched columns

In [89]:
df = data

In [91]:
df['arrest'] = df['arrest'].map({0: False, 1: True})

In [103]:
df.head()

   crime    subcrime  year  arrest  value  total  difference
0  ARSON  AGGRAVATED  2008   False    160    194          34
1  ARSON  AGGRAVATED  2008    True     34    194         160
2  ARSON  AGGRAVATED  2009   False    136    160          24
3  ARSON  AGGRAVATED  2009    True     24    160         136
4  ARSON  AGGRAVATED  2010   False    122    155          33

In [107]:
dat = df.groupby(by=['crime','subcrime','year','arrest']).aggregate('sum')

In [108]:
dat.head()

                              value  total  difference
crime subcrime   year arrest
ARSON AGGRAVATED 2008 False     160    194          34
                      True       34    194         160
                 2009 False     136    160          24
                      True       24    160         136
                 2010 False     122    155          33

In [109]:
dat.reset_index(level=[0,1,2,3]).head()

   crime    subcrime  year  arrest  value  total  difference
0  ARSON  AGGRAVATED  2008   False    160    194          34
1  ARSON  AGGRAVATED  2008    True     34    194         160
2  ARSON  AGGRAVATED  2009   False    136    160          24
3  ARSON  AGGRAVATED  2009    True     24    160         136
4  ARSON  AGGRAVATED  2010   False    122    155          33

In [93]:
display(len(df[df['arrest'] == False]), len(df[df['arrest'] == True]))

3562

3562

In [110]:
crimes = df[df['arrest'] == True]

In [112]:
crimes = crimes[['crime','subcrime','year','value','total']].reset_index(drop=True)

In [113]:
crimes.head()

   crime    subcrime  value  total
0  ARSON  AGGRAVATED     34    194
1  ARSON  AGGRAVATED     24    160
2  ARSON  AGGRAVATED     33    155
3  ARSON  AGGRAVATED     14     74
4  ARSON  AGGRAVATED     15     55

In [115]:
crimes['no_arrest'] = crimes['total'] - crimes['value']

In [116]:
crimes['arrest'] = crimes['value']

In [118]:
crimes = crimes.drop(columns='value')

In [119]:
crimes.head()

   crime    subcrime  total  no_arrest  arrest
0  ARSON  AGGRAVATED    194        160      34
1  ARSON  AGGRAVATED    160        136      24
2  ARSON  AGGRAVATED    155        122      33
3  ARSON  AGGRAVATED     74         60      14
4  ARSON  AGGRAVATED     55         40      15

In [121]:
crimes.to_csv('subcrimes.csv', index=False)